.global {
    display: flex;
    width: 100%;
    justify-content: center;

    .header {
        display: flex;
        margin-top: 24px;
        padding: 0px 0px 24px 0px;
        border-bottom: solid 1px;
        border-color: #D7DDE9;

        .list {
            display: flex;
            list-style-type: none;
            justify-content: center;
            align-items: center;

            .liOne {
                display: flex;
                justify-content: center;
                align-items: center;

                .divLogotype {
                    margin-left: 43px;
                }
            }

            .liDuo {
                margin-left: 300px;
                font-family: Inter Tight;
                font-weight: 500;
                font-size: 24px;
                color: #000000;
            }
            .liThree {
                margin-left: 400px; 
                font-family: Inter Tight;
                font-weight: 400;
                font-size: 16px;
                color: #0000008A;
            }
        }
    }
}