.global {
    display: flex;
    width: 100%;
    justify-content: center;

    .header {
        display: flex;
        margin-top: 24px;
        padding: 0px 0px 24px 0px;
        border-bottom: solid 1px;
        border-color: #D7DDE9;

        .list {
            display: flex;
            list-style-type: none;
            justify-content: center;
            align-items: center;

            .liOne {
                display: flex;
                justify-content: center;
                align-items: center;

                .divLogotype {
                    margin-left: 43px;
                }
            }

            .liDuo {
                margin-left: 300px;
                font-family: Inter Tight;
                font-weight: 500;
                font-size: 24px;
                color: #000000;
            }

            .liThree {
                margin-left: 400px;
                font-family: Inter Tight;
                font-weight: 400;
                font-size: 16px;
                color: #0000008A;
            }
        }
    }

    .tarefas {
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        height: 446px;
        width: 450px;
        background-color: #FFFFFF;
        margin-top: 124px;
        border: solid 1px;
        border-color: #EAECF0;
        border-radius: 16px;
        gap: 24px;

        .text {
            margin-top: 32px;
            font-family: Inter Tight;
            font-weight: 400;
            font-size: 16px;
            color: #0000008A;
        }

        div {
            width: 386px;
            height: 216px;
            gap: 24px;
            display: flex;
            flex-direction: column;

            .frame2 {
                width: 386px;
                height: 56px; 
                border-radius: 8px;
                border: dashed 1px;
                border-color: #D7DDE9;
                padding: 16px;
                gap: 16px;

                .group6 {
                    display: flex;
                    flex-direction: initial;
                    align-items: center;
                    width: 354px;
                    height: 24px;

                    .trash {
                        margin-left: 276px;
                    }

                    .txtGroup6 {
                        font-family: Inter Tight;
                        font-weight: 400;
                        font-size: 16px;
                        color: #000000;
                        margin-left: -340px;
                    }
                }
            }

            .frame3 {
                width: 386px;
                height: 56px; 
                border-radius: 8px;
                border: dashed 1px;
                border-color: #D7DDE9;
                padding: 16px;
                gap: 16px;

                .group5 {
                    display: flex;
                    flex-direction: initial;
                    align-items: center;
                    width: 354px;
                    height: 24px;

                    .trash {
                        margin-left: 276px;
                    }

                    .txtGroup5 {
                        font-family: Inter Tight;
                        font-weight: 400;
                        font-size: 16px;
                        color: #000000;
                        margin-left: -340px;
                    }
                }
            }

            .frame5 {
                width: 386px;
                height: 56px; 
                border-radius: 8px;
                border: dashed 1px;
                border-color: #D7DDE9;
                padding: 16px;
                gap: 16px;

                .group4 {
                    display: flex;
                    flex-direction: initial;
                    align-items: center;
                    width: 354px;
                    height: 24px;

                    .trash {
                        margin-left: 276px;
                    }

                    .txtGroup4 {
                        font-family: Inter Tight;
                        font-weight: 400;
                        font-size: 16px;
                        color: #000000;
                        margin-left: -340px;
                    }
                }
            }
        }
    }
}